@charset "UTF-8";
/* CSS Document */

/* main document css */
body {
	background-color:#CCC;
}

#content {
	margin-left:120px;
	margin-right:120px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#FFF;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	word-wrap: break-word;
}

#content a {
	text-decoration:none;
}

#content p {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:5px;
	height:100%;
	word-wrap: break-word;
}

#content small {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:5px;
	height:100%;
}

#content h1 {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:5px;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:16px;
}

#content h2 {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:5px;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:15px;
}

#content h3 {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:5px;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:13px;
}

footer {
	position:absolute;
   	bottom:15;
   	width:100%;
   	height:60px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:9px;
	word-wrap: break-word;
}

.mainPageProduct {
	float:right;
	padding:0px;
}

.mainPageProduct ul {
    margin: 0;
    padding: 0;
    width: 450px;
    list-style: none;
}

.mainPageProduct li {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
}
.mainPageProduct img {
    display: block;
    margin: auto;
    width: 150px;
    height: auto;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.mainPageProduct li:hover {
    padding: 0;
    z-index: 2;
}
.mainPageProduct li:hover img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 20px #000;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	margin: 35px;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}